body, html {
    background: none !important;
}


.app-settings .app-settings__main .form-line {
    border: none !important;
}

.title_panel {
    padding-bottom: 0;
}

.tabs_flat {
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.tabs_flat:after, .box_stats:after {
    content: " ";
    clear: both;
    display: block;
}

.tabs_flat .tab {
    cursor: pointer;
    float: left;
    margin-right: 24px;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    padding: 15px 0;
    font-style: normal;
    color: #546e7a;
}

.tabs_flat .tab:hover {
    border-bottom: none !important;
}

.tabs_flat .tab.tab__active {
    color: #FF7800;
    padding-bottom: 16px;
    margin-bottom: -1px;
    border-bottom: 3px solid #FF7800 !important;
}

.box_stats {
    font-family: 'Ubuntu', sans-serif;
    padding: 30px 0 20px;
    color: #000000;
}

.box_stats .opt_box.bs_float{
    width: calc(100% / 7);
    margin-right: 0;
}

.box_stats .bs_float {
    float: left;
    margin-right: 40px;
    padding: 10px 0;
}

.box_stats .bs_title {
    font-size: 14px;
    font-style: normal;
    line-height: 29px;
}

.box_stats .bs_info {
    font-size: 24px;
    font-style: normal;
    line-height: 29px;
}

.box_stats .bs_info span.sm {
    color: #727272;
    font-size: 16px;
}

.table.table_contragents {
    margin-top: 20px;
}

.table.table_contragents .table_head {
    color: #4A4A4A;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0948);
    padding-bottom: 10px;
    margin-bottom: 0;
}

.table_row.row_link:hover {
    background-color: rgba(245, 245, 246, 0.5);
}

.table_row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.0948);
}

.button.light {
    font-family: Ubuntu, sans-serif;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
    color: #000000;
}

.button.light.orange {
    border: 2px solid #FF6633;
    box-sizing: border-box;
    border-radius: 100px;
    color: #FF6633;
    font-weight: 500;
    padding: 0 50px;
    min-width: 200px;
}

.app-settings .app-settings__main .form-line {
    border-top: none !important;
}

.opt_title {
    font-family: Ubuntu, sans-serif;
    padding: 40px 0 0;
    font-weight: bold;
    line-height: 24px;
    font-size: 18px;
}

.opt_box {
    padding: 10px 0 15px;
}

.opt_box.foot_btn {
    padding-top: 35px;
}

.opt_box .opt_label {
    font-style: normal;
    font-weight: normal;
    line-height: 23px;
    font-size: 14px;
    padding-bottom: 4px;
}

.opt_box .opt_slider_value {
    line-height: 26px;
    font-size: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.499972);
}

.rangeslider, .rangeslider .rangeslider__fill, .rangeslider .rangeslider__handle {
    box-shadow: none !important;
}

.rangeslider-horizontal {
    height: 2px;
}

.rangeslider-horizontal .rangeslider__fill {
    background-color: #FD7822;
}

.rangeslider-horizontal .rangeslider__handle:after {
    display: none;
}

.rangeslider-horizontal .rangeslider__handle {
    width: 24px;
    height: 24px;
    border-radius: 30px;
    border: 2px solid #fd7823;
}

.rangeslider {
    background: #CBCFD1;
}

.rangeslider .rangeslider__handle-tooltip {
    width: auto;
    padding: 0 10px;
}